<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>Document</title>
<link rel="stylesheet" type="text/css"
	th:href="@{~/res/layui/css/layui.css}">
<link rel="stylesheet" type="text/css" th:href="@{~/res/css/main.css}">
<script type="text/javascript" th:src="@{~/js/jquery.js}"></script>
<!--加载meta IE兼容文件-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<script th:inline="javascript">
$(function()
{
	//实现Whisper的分页
	var pi = [[${pi}]] ; 
	//上一页评论的js
	$("#prevPage").click(function()
	{
		if(pi.isFirstPage)
		{
			return false ; 
		}else{
				$.ajaxSettings.async = false;
				$.get("/leacot", {
				pageSize : pi.pageSize,
				pageNumber  : pi.prePage ,
					},function(html)
					{
						$("body").html(html);
					});
				$.ajaxSettings.async = true;
			return false;
		}
	})
	//点击下一页的js
	$("#nextPage").click(function()
	{
		if(pi.isLastPage)
		{
			return false ; 
		}
				$.ajaxSettings.async = false;
				$.get("/leacot", {
				pageSize : pi.pageSize,
				pageNumber  : pi.nextPage ,
					},function(html)
					{
						$("body").html(html);
					});
				$.ajaxSettings.async = true;
			return false;

	})
	
	//点击页数的js
	$(".default").click(function()
	{
		var aPageNumber=parseInt($(this).text());
		$.ajaxSettings.async = false;
				$.get("/leacot", {
				pageSize : pi.pageSize,
				pageNumber  : aPageNumber,
					},function(html)
					{
						$("body").html(html);
					});
				$.ajaxSettings.async = true;
		return false ; 
	})
	
})
</script>

<script th:inline="javascript">
$(function()
{
	//评论功能的js
	$(".layui-form").submit(function()
	{
		var content = $(this).children().eq(0).children().children(".layui-textarea").val() ;
		if(content.length==0)
		{
			layer.msg('请输入内容') ; 	
			return false ; 
		}
		var pi = [[${pi}]] ; 
		var person=[[${#httpSession.getAttribute('userName')}]] ;
		$.ajaxSettings.async = false;
		$.post("/leacot", {
				content : content , 
				person : person 
					},function(html)
					{
						$("body").html(html);
					});
					$.ajaxSettings.async =  true;
		return false ; 
	})
})
</script>

</head>
<body>
	<div class="header">
		<div class="menu-btn">
			<div class="menu"></div>
		</div>
		<h1 class="logo">
			<a th:href="@{~/blog/show}"> <span>MYBLOG</span> <img
				th:src="@{~/res/img/logo.png}">
			</a>
		</h1>
		<div class="nav">
			<a th:href="@{~/blog/show}">文章</a> <a th:href="@{~/whisper}">微语</a> <a
				th:href="@{~/leacot}" class="active">留言</a> <a href="album.html">相册</a>
			<a href="about.html">关于</a>
		</div>
		<ul class="layui-nav header-down-nav">
			<li class="layui-nav-item"><a th:href="@{~/blog/show}">文章</a></li>
			<li class="layui-nav-item"><a th:href="@{~/whisper}">微语</a></li>
			<li class="layui-nav-item"><a th:href="@{~/leacot}" class="active">留言</a></li>
			<li class="layui-nav-item"><a href="album.html">相册</a></li>
			<li class="layui-nav-item"><a href="about.html">关于</a></li>
			<li class="layui-nav-item"><shiro:guest>
					<a th:href="@{~/login.html}">请登录</a>
				</shiro:guest> <shiro:authenticated>
					<a th:href="@{~/user/logout}">退出</a>
				</shiro:authenticated></li>
		</ul>
		<p class="welcome-text">
			欢迎来到<span class="name">...?!</span>的博客~
		</p>
	</div>


	<div class="content whisper-content leacots-content">
		<div class="cont w1000">
			<div class="whisper-list">
				<div class="item-box">
					<div class="review-version">
						<div class="form-box">
							<img class="banner-img" th:src="@{~/res/img/liuyan.jpg}">
							<div class="form">
								<form class="layui-form" action="">
									<div class="layui-form-item layui-form-text">
										<div class="layui-input-block">
											<textarea name="desc" placeholder="既然来了，就说几句"
												class="layui-textarea"></textarea>
										</div>
									</div>
									<div class="layui-form-item">
										<div class="layui-input-block" style="text-align: right;">
											<button class="layui-btn definite" type="submit">確定</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="volume">
							全部留言 <span th:text="${pi.pages}+'页'">10页</span>
						</div>
						<div class="list-cont" th:each="leacot:${pi.getList()}">
							<div class="cont" >
								<div class="img">
									<img th:src="@{~/res/img/header.png}" alt="">
								</div>
								<div class="text">
									<p class="tit">
										<span class="name" th:text="${leacot.person}">吳亦凡</span><span class="data" th:text="${leacot.date}">2018/06/06</span>
									</p>
									<p class="ct" th:text="${leacot.content}">敢问大师，师从何方？上古高人呐逐一地看完你的作品后，我的心久久
										不能平静！这世间怎么可能还有如此精辟的作品？我不敢相信自己的眼睛。自从改革开放以后，我就以为再也不会有任何作品能打动我，没想到今天看到这个如此精妙绝伦的作品好厉害！</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="demo" style="text-align: center;">
				<div class="layui-box layui-laypage layui-laypage-default"
					id="layui-laypage-1">
					<a class="layui-laypage-prev" id="prevPage">上一页</a> <a
						class="default" th:each="i:${#numbers.sequence(1,pi.pageNum)}"
						th:if="${i} lt ${pi.pageNum}" th:text="${i}"></a> <span
						class="layui-laypage-curr"><em class="layui-laypage-em"></em><em
						th:text="${pi.pageNum}"></em></span> <a class="default"
						th:each="j:${#numbers.sequence(pi.pageNum,pi.pages)}"
						th:if="${j} gt ${pi.pageNum}" th:text="${j}"></a> <a
						class="layui-laypage-next" id="nextPage">下一页</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-wrap">
		<div class="footer w1000">
			<div class="qrcode">
				<img src="../res/img/erweima.jpg">
			</div>
			<div class="practice-mode">
				<img src="../res/img/down_img.jpg">
				<div class="text">
					<h4 class="title">我的联系方式</h4>
					<p>
						微信<span class="WeChat">1234567890</span>
					</p>
					<p>
						手机<span class="iphone">1234567890</span>
					</p>
					<p>
						邮箱<span class="email">1234567890@qq.com</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{../res/layui/layui.js}"></script>
	<script type="text/javascript">
	layui.config({
		 base: '../res/js/util/'
	}).use(
			[ 'element', 'laypage', 'form', 'menu' ],
			function() {
				element = layui.element, laypage = layui.laypage,
						form = layui.form, menu = layui.menu;
				menu.init();
				menu.off();
				menu.submit()
			})
	</script>
</body>
</html>